<h1>Flight Booker</h1>

<h2>Find a flight</h2>

<%= render 'search', airport_options: @airport_options, departures: @departures %>

<% unless @flights.nil? %>
 <%= render 'flight_selection', flights: @flights %>
<% end %>
